@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.firstpage {
  /* display: inline-block; */
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 10px 35px;
  background-repeat: 4px;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 3.15px;
}
.title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: #1e212c;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
.title2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
  margin-bottom: 40px;
}
.list-item {
  padding-bottom: 12px;
  background: url(../image/listicon.svg) 0 0 no-repeat;
  padding-left: 32px;
}
.button {
  /* display: inline-block; */
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 10px 35px;
  background-repeat: 4px;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 3.15px;
}

.footer {
  margin-top: 22px;
  margin-left: 10px;
}
