@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 16px;
}
.maindiv {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 810px;
  margin: auto;
}
/* .second {
} */
.post {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  color: #1e212c;
  line-height: 1.3;
}
.text1 {
  background-image: url(../image/braces.svg);
  background-repeat: no-repeat;
  padding-left: 54px;
  font-weight: bold;
  color: #1e212c;
  line-height: 1.5;
  font-size: 20px;
  text-shadow: none;
  margin-top: 48px;
}
.textfirst {
  font-weight: bold;
  color: #1e212c;
  line-height: 1.5;
  font-size: 20px;
  margin-top: 60px;
}
.list {
  margin-top: 24px;
}

.text2 {
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 24px;
}
.text4 {
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 48px;
}
.text5 {
  margin-top: 24px;
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
}
.mark {
  /* padding-left: 32px; */
  color: #424551;
  font-weight: 400;
  line-height: 1.6;
}
.link1 {
  color: white;
  font-size: 20px;
}

.keyboard {
  margin-top: 92px;
}
.listitem {
  background: url(../image/listicon.svg) 0 4.5px no-repeat;
  padding-bottom: 4px;
  padding-left: 32px;
}
.secondpage {
  display: inline-block;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 10px 35px;
}
.buttonname {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: white;
  line-height: 3.15px;
  text-align: center;
}
